<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library Management System</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>
    <div class="container mt-5">
        <h2>Add New User</h2>
        <form th:action="@{/users}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" th:field="*{userName}" placeholder="Enter User Name">
            </div>
            <div class="form-group">
                <label for="major">Major</label>
                <input type="text" class="form-control" id="major" th:field="*{major}" placeholder="Enter Major">
            </div>
            <div class="form-group">
                <label for="telephoneNumber">Telephone Number</label>
                <input type="text" class="form-control" id="telephoneNumber" th:field="*{telephoneNumber}" placeholder="Enter Telephone Number">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
